@import "include/reset";
@import "include/common";
@import "include/header";
@import "include/contact";
@import "include/footer";
@import "include/breadcrumblist";

.catch {
    width: 100vw;
    padding: 15px 25px;
    @include mq(tb) {
        padding: 15px 0;
    }
    h2 {
        background-color: $color_factory;
        border-radius: 25px;
        width: 100%;
        text-align: center;
        font-size: 33px;
        font-weight: 600;
        padding: 1.5em 0;
        color: #fff;
        @include mq(tb) {
            font-size: clamp(12px, 4.87vw, 33px);
            border-radius: 0;
            padding: 1.5em 8vw;
            text-align: left;
        }
        span {
            display: block;
            padding-top: 1em;
            font-size: 21px;
            @include mq(tb) {
                font-size: clamp(16px, 3.1vw, 21px);
            }
        }
    }
}

// section products 
section.products {
    .inner {
        width: 1100px;
        margin: 0 auto;
        @include mq(tb) {
            width: 100vw;
            padding: 0 8vw;
        }
        .tabs {
            display: flex;
            justify-content: space-between;
            .tab {
                width: 257px;
                height: 165px;
                border: 1px solid #801b1f;
                border-radius: 10px;
                cursor: pointer;
                font-size: 17px;
                font-weight: 600;
                color: $color_factory;
                text-align: center;
                padding-top: 125px;
                background-color: #fff;
                background-repeat: no-repeat;
                position: relative;
                transition: 1s;
                @include mq(tb) {
                    width: calc((100vw - 16vw - 30px) / 4);
                    height: calc(((100vw - 16vw - 30px) / 4) * 0.7625);
                    padding-top: calc(((100vw - 16vw - 30px) / 4) * 0.7625 * 0.75);
                    font-size: 2vw;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: $color_factory;
                    border-radius: 50%;
                    top: 128px;
                    right: 1.5em;
                    @include mq(tb) {
                        width: 0;
                        height: 0;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    mask-image: url('../images/icon_arrow2.svg');
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-size: 4px;
                    background-color: #fff;
                    top: 128px;
                    right: 1.5em;
                    @include mq(tb) {
                        width: 0;
                        height: 0;
                    }
                }
                &:hover, &.active {
                    background-color: #fbdfdb;
                }
                &:nth-of-type(1) {
                    background-image: url('../images/produts_tab_img01.svg');
                    background-size: 166px;
                    background-position: 30px 26px;
                    @include mq(tb) {
                        background-size: calc((100vw - 16vw - 30px) / 4 * 0.8);
                        background-position: center 20%;
                    }
                }
                &:nth-of-type(2) {
                    background-image: url('../images/produts_tab_img02.svg');
                    background-size: 164px;
                    background-position: 45px 29px;
                    @include mq(tb) {
                        background-size: calc((100vw - 16vw - 30px) / 4 * 0.8);
                        background-position: center 20%;
                    }
                }
                &:nth-of-type(3) {
                    background-image: url('../images/produts_tab_img03.svg');
                    background-size: 163px;
                    background-position: 54px 33px;
                    @include mq(tb) {
                        background-size: calc((100vw - 16vw - 30px) / 4 * 0.8);
                        background-position: center 30%;
                    }
                }
                &:nth-of-type(4) {
                    background-image: url('../images/produts_tab_img04.svg');
                    background-size: 149px;
                    background-position: 48px 37px;
                    @include mq(tb) {
                        background-size: calc((100vw - 16vw - 30px) / 4 * 0.8);
                        background-position: center 30%;
                    }
                }
            }
        }
        .list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            @include mq(tb) {
                grid-template-columns: repeat(2, 1fr);
            }
            .block {
                width: 200px;
                text-align: center;
                padding: 60px 0;
                transition: 1s;
                @include mq(tb) {
                    width: calc((100vw - 24vw) / 2 );
                }
                &:hover {
                    opacity: .5;
                }
                .mark {
                    height: 60px;
                    padding: 15px 0;
                }
                .product-img {
                    width: 200px;
                    @include mq(tb) {
                        width: calc((100vw - 24vw) / 2 );
                    }
                    img {
                        width: 100%;
                    }
                }
                .product-name {
                    padding: 1.5em 0;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .block.new .mark {
                &::after {
                    content: 'NEW';
                    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
                    font-size: 14px;
                    background-color: $color_factory;
                    padding: .5em 1em;
                    font-weight: 600;
                    border-radius: 8px;
                    color: #fff;
                    line-height: 1;
                }
            }
        }
    }
}

div.contact .inner {
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 200px;
        background-color: #fff;
        top: 0;
        left: 0;
    }
}